<div id="chara-list">
  <h1>Character List</h1>
  <% @charas.each do |chara| %>
  <div class="row"><% %>
    <div class="entry"><%= chara['name'] %></div><% %>
    <div class="entry"><%= chara['attribute'] %></div><% %>
    <div class="entry"><%= chara['unit_id'] %></div><% %>
  </div>
  <% end %>
</div>

