#chara-data-card {
  & > div {
    position: relative;
    height: 256px;
    display: inline-block;
    vertical-align: top;
  }
}
#chara-portrait {
  width: 20%;
  &.portrait01 { background-image: url('/img/chara/01_portrait_mizugi2018.png'); }
  &.portrait02 { background-image: url('/img/chara/02_portrait_mizugi2018.png'); }
  &.portrait03 { background-image: url('/img/chara/03_portrait_mizugi2018.png'); }
  &.portrait04 { background-image: url('/img/chara/04_portrait_mizugi2018.png'); }
  &.portrait05 { background-image: url('/img/chara/05_portrait_mizugi2018.png'); }
  &.portrait06 { background-image: url('/img/chara/06_portrait_mizugi2018.png'); }
  &.portrait07 { background-image: url('/img/chara/07_portrait_mizugi2018.png'); }
  &.portrait08 { background-image: url('/img/chara/08_portrait_mizugi2018.png'); }
  &.portrait09 { background-image: url('/img/chara/09_portrait_mizugi2018.png'); }
  &.portrait10 { background-image: url('/img/chara/10_portrait_mizugi2018.png'); }
  &.portrait11 { background-image: url('/img/chara/11_portrait_mizugi2018.png'); }
  &.portrait12 { background-image: url('/img/chara/12_portrait_mizugi2018.png'); }
  &.portrait13 { background-image: url('/img/chara/13_portrait_mizugi2018.png'); }
  &.portrait14 { background-image: url('/img/chara/14_portrait_mizugi2018.png'); }
  &.portrait15 { background-image: url('/img/chara/15_portrait_mizugi2018.png'); }
  &.portrait16 { background-image: url('/img/chara/16_portrait_mizugi2018.png'); }
}
#chara-data {width: 60%;}
#chara-association {width: 20%;}
.association {
  .bg {
    &.chibi01 { background-image: url('/img/chara/01_chibi_mizugi2018.png'); }
    &.chibi02 { background-image: url('/img/chara/02_chibi_mizugi2018.png'); }
    &.chibi03 { background-image: url('/img/chara/03_chibi_mizugi2018.png'); }
    &.chibi04 { background-image: url('/img/chara/04_chibi_mizugi2018.png'); }
    &.chibi05 { background-image: url('/img/chara/05_chibi_mizugi2018.png'); }
    &.chibi06 { background-image: url('/img/chara/06_chibi_mizugi2018.png'); }
    &.chibi07 { background-image: url('/img/chara/07_chibi_mizugi2018.png'); }
    &.chibi08 { background-image: url('/img/chara/08_chibi_mizugi2018.png'); }
    &.chibi09 { background-image: url('/img/chara/09_chibi_mizugi2018.png'); }
    &.chibi10 { background-image: url('/img/chara/10_chibi_mizugi2018.png'); }
    &.chibi11 { background-image: url('/img/chara/11_chibi_mizugi2018.png'); }
    &.chibi12 { background-image: url('/img/chara/12_chibi_mizugi2018.png'); }
    &.chibi13 { background-image: url('/img/chara/13_chibi_mizugi2018.png'); }
    &.chibi14 { background-image: url('/img/chara/14_chibi_mizugi2018.png'); }
    &.chibi15 { background-image: url('/img/chara/15_chibi_mizugi2018.png'); }
    &.chibi16 { background-image: url('/img/chara/16_chibi_mizugi2018.png'); }
    &.unit-01 { background-image: url('/img/unit/01_big.png'); }
    &.unit-02 { background-image: url('/img/unit/02_big.png'); }
    &.unit-03 { background-image: url('/img/unit/03_big.png'); }
    &.unit-04 { background-image: url('/img/unit/04_big.png'); }
    &.type-sun  { background-image: url('/img/icon/attr_sun.png'); }
    &.type-moon { background-image: url('/img/icon/attr_moon.png'); }
    &.type-star { background-image: url('/img/icon/attr_star.png'); }
  }
}

.chara-cards {
  & > .row {
    & > .entry > a {
      height: 32px;
      & > .entry:nth-child(1) {
        width: 32px;
        height: inherit;
      }
      & > .entry:nth-child(2) {
        width: calc(95% - 32px);
      }
    }
  }
}

#chara-view-matrix {
  .entry {
    height:128px;
  }
}
